{{#> layout }}

  {{#*inline "content"}}
  	<h1 class="modal-title">About us</h1>
  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam semper leo vel fringilla placerat. Quisque tristique libero rhoncus, dignissim lectus eget, porttitor neque. Nam sed est at lacus feugiat auctor. Donec at erat molestie, tincidunt elit sed, suscipit sem. Maecenas et felis ut massa hendrerit mattis a et neque. Etiam nisi neque, vulputate eu nisl quis, consequat molestie purus. Proin hendrerit massa ac rhoncus porttitor. Suspendisse dignissim pharetra urna, vehicula fermentum massa dictum vel. Suspendisse vel facilisis massa. Etiam malesuada ipsum ex, eget commodo nibh maximus venenatis.</p>

  	<p>Donec maximus ipsum et faucibus gravida. Curabitur fringilla, augue a porta tincidunt, velit urna sodales lacus, sed imperdiet orci nisi vel sapien. Maecenas posuere vitae quam sed finibus. Phasellus placerat nisi mauris, euismod pellentesque libero cursus at. Pellentesque eu mauris rutrum, iaculis nisi ac, tempor lorem. Donec eget urna dignissim, laoreet mauris eget, volutpat nunc. In accumsan mollis dui, in semper leo sollicitudin sit amet. Sed consectetur faucibus est in porttitor. Cras mollis nibh in tempor scelerisque. Vivamus sollicitudin risus quis leo faucibus, ac pellentesque mauris egestas. Nam facilisis sed risus nec fermentum. Ut sagittis tortor velit, sit amet blandit nisi gravida porta.</p>
  {{/inline}}

{{/layout}}